.App {
  text-align: center;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}

.imageDiv img {
  border-radius: 50%;
  
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.follower {
  width: 50%;
  padding-bottom: 3%;
}